DOCKER_REGISTRY=
COMPOSE_PROJECT_NAME=qd-124-fixed
APP_NAME=qd-124-fixed

FRONTEND_PORT=3124
BACKEND_PORT=8124
MYSQL_PORT=3424
REDIS_PORT=6424

MYSQL_ROOT_PASSWORD=root_qd124
MYSQL_DATABASE=bracket_db
MYSQL_USER=bracket
MYSQL_PASSWORD=bracket_123

BACKEND_INTERNAL_PORT=8108
BIND_ADDRESS=127.0.0.1
